* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        background-color: bisque;
    }
    
    h2 {
        text-align: center;
        font-size: 3em;
        color: lightslategrey;
        margin: 15px 0;
    }
    .btn-group {
        width: 100%;
        height: 40px;
        display : flex;
        justify-content: center;
        margin-top: 20px;
    }
    button {
        position: absolute;
        width: 100px;
        height: inherit;
        color :aliceblue;
        font-size: 1.2em;
        background-color: darksalmon;
        border: transparent;
        border-radius: 30px;    
    }
    button:nth-child(1) {
        margin-right: -200px;
        background-color: darksalmon;
    }
    button:nth-child(2) {
        margin-left: 200px;
        background-color: crimson;
    }   
    img{
        display: block;
        margin: auto;
    }
    img{
        width: 300px;
        height: 300px;
    }
